{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cd</h1>

    <table>
        <tbody>
            <tr>
                <th>Duration</th>
                <td>{{ cd.duration }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cd.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cds_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cds_edit', { 'id': cd.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
