{% extends 'base.html.twig' %}

{% block body %}
    
    <title>{% block title %}{{parent()}} Events {% endblock %}</title>
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Eventname</th>
                <th>Eventdescription</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.eventName }}</a></td>
                <td>{{ event.eventDescription }}</td>
                <td>{{ event.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="aaction" href="{{ path('events_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="aaction" href="{{ path('events_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
